.navigation {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px 0;

  .logoContainer {
    height: 100%;
    width: 70px;
  }

  .navLinksContainer {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .navLink {
      padding: 10px 15px;
      cursor: pointer;
    }
  }
}
